[core]
	excludesfile = /Users/matttingen/.gitignore_global
	editor = code --wait
[difftool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/araxiscompare-w.sh -2 \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/araxisgitmerge-w.sh \"$REMOTE\" \"$BASE\" \"$LOCAL\" \"$MERGED\"
	trustExitCode = true
[user]
	name = Matt Tingen
	email = matt.tingen@willowtreeapps.com
[commit]
	template = /Users/matttingen/.stCommitMsg
[push]
	default = current
[rebase]
	missingCommitsCheck = error
	autoSquash = true
[alias]
	s = status
	ls = log --oneline
	l = log develop.. --oneline
	co = checkout
	c = commit
	fix = commit --amend --no-edit
	stashkeep = "!git stash && git stash apply"
	# Rebase n most recent commits
	rbn = "!sh -c \"git rebase -i @~$1\" -"
	# Rebase from a specific commit forward
	rbf = "!sh -c \"git rebase -i $1^\" -"
	# Rebase commits since branching
	rb = "!git rbn $(git l | wc -l | xargs)"
	pushup = "!git push -u origin `git_branch`"
	recent = "!git branch --sort=-committerdate | nl | more"
	# Checkout nth most recently committed
	cor = "!sh -c \"git checkout $(git branch --sort=-committerdate | sed -n $1p | sed 's/\\*//')\" -"
