[core]
	excludesfile = /Users/matttingen/.gitignore_global
	editor = code --wait
[user]
	name = Matt Tingen
	email = matt.tingen@willowtreeapps.com
[commit]
	template = /Users/matttingen/.stCommitMsg
[push]
	default = current
[rebase]
	missingCommitsCheck = error
	autoSquash = true
[alias]
	s = status
	ls = log --oneline
	l = log develop.. --oneline
	co = checkout
	c = commit -n
	fix = commit --amend --no-edit
	stashkeep = "!git stash && git stash apply"
	# Rebase n most recent commits
	rbn = "!sh -c \"git rebase -i @~$1\" -"
	# Rebase from a specific commit forward
	rbf = "!sh -c \"git rebase -i $1^\" -"
	# Rebase commits since branching
	rb = "!git rbn $(git l | wc -l | xargs)"
	pushup = "!git push -u origin `git_branch`"
	# Display recently committed branches and prompt for one to checkout
	recent = "for-each-ref --count=12 --sort=-committerdate refs/heads/ --format=\"%(refname:short)\""
	# Checkout nth most recently committed
	cor = "!select br in $(git recent); do git co $br; break; done"
	today = "!git log --since=midnight --author=\"$(git config user.name)\" --oneline"
	yesterday = "!git log --since="yesterday.midnight" --until=midnight --author=\"$(git config user.name)\" --oneline"
