[core]
	editor = code --wait
	abbrev = 7
[user]
	name = Matt Tingen
	email = matt.tingen@gmail.com
[commit]
	cleanup = strip
[push]
	default = current
[rebase]
	missingCommitsCheck = error
	autoSquash = true
[diff]
	tool = code
	guitool = code
[difftool "code"]
	cmd = code --wait --diff $LOCAL $REMOTE
[custom]
	basebranch = master
[alias]
	debug = !GIT_TRACE=1 git
	s = status
	ls = log --oneline
	# Show child commits leading to the specified commitish
	lsto = "! git ls --reverse --ancestry-path HEAD^..$1"
	l = "!git log \"$(git basebranch)\".. --oneline"
	base = "!git co \"$(git basebranch)\""
	co = checkout
	c = commit
	fix = commit --amend --no-edit
	edit = commit --amend --only --no-verify
	root = rev-parse --show-toplevel
	d = difftool --gui --no-prompt
	stashkeep = "!git stash && git stash apply"
	# Rebase n most recent commits
	rbn = "!sh -c \"git rebase -i @~$1\" -"
	# Rebase from a specific commit forward
	rbf = "!sh -c \"git rebase -i $1^\" -"
	# Rebase commits since branching
	rb = "!git rbn $(git l | wc -l | xargs)"
	pushup = "!git push -u origin `git_branch`"
	# Display recently committed branches and prompt for one to checkout
	recent = "for-each-ref --count=12 --sort=-committerdate refs/heads/ --format=\"%(refname:short)\""
	# Checkout nth most recently committed
	cor = "!select br in $(git recent); do git co $br; break; done"
	today = "!git log --since=midnight --author=\"$(git config user.name)\" --oneline"
	yesterday = "!git log --since="yesterday.midnight" --until=midnight --author=\"$(git config user.name)\" --oneline"
	msg = "log --format=%B -n 1"
	wip = !sh -c 'git add . && git commit -nm \"WIP $1\"' -
	# Undo a "WIP" commit, staging the changes
	unwip = "reset --mixed HEAD~1"
	# Undo a commit, copying the commit message and staging the changes
	uncommit = "!git msg HEAD | pbcopy && git unwip"
	hash = "rev-parse --verify HEAD"
	baseconfig = "!git config --file $config_dir/.gitconfig"
	# Claim existing changes on the branch as personal changes
	claimbranch = "!git reauthor --old-email \"$(git config --get user.email)\" --correct-email \"$(git baseconfig --get user.email)\""
	# Claim future changes in the repo as personal changes
	claimrepo = "!git config --replace-all user.email \"$(git baseconfig --get user.email)\""
	claim = "!git claimbranch && git claimrepo"
	findcommit = !sh -c 'git ls --no-abbrev-commit | grep -i \"$1\" | head -1 | cut -d\" \" -f 1' -
	findcommitinbranch = !sh -c 'git l --no-abbrev-commit | grep -i \"$1\" | head -1 | cut -d\" \" -f 1' -
	fixup = !sh -c 'git c --fixup $(git findcommitinbranch $1)' -
	# Checkout by find
	cf = !sh -c 'git checkout $(git findcommit $1)' -


	# The base branch for a repo is used by git aliases for e.g. abbreviated
	# logging and quick interactive rebases.
	setdefaultbasebranch = config --global --replace-all custom.basebranch
	setbasebranch = config --replace-all custom.basebranch
	basebranch = config --get custom.basebranch
